@{
    ViewBag.Title = "Search";
}
<script src=""></script>

<h2>Search</h2>
<label>Search me</label>
<input type="text" name="search" id="search"/><br/>
<button onclick="lookMeUp()">Look Me Up</button>