@{
    ViewBag.Title = "Search";
}
<script src="../../Scripts/mycnt.js"></script>

<h2>Search</h2>
<label>Search me</label>
<input type="text" name="search" id="search"/><br/>
<button onclick="lookMeUp()">Look Me Up</button>
<div class="output">
    <h3 id="outH"></h3>
    <p id="outC">

    </p>
</div>